@import '../node_modules/open-color/open-color.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.todo-form__group {
  position: relative;
  padding: 8px;
  margin: 8px auto;
  width: 90%;
}

.todo-form__field {
  margin-top:20px;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--oc-gray-3);
  outline: 0;
  font-size: 1.3rem;
  color: var(--oc-gray-7);
  padding: 14px 0 10px 0;
  background: transparent;
  transition: border-color 0.15s;
  appearance: none;
}

.todo-form__field::placeholder {
  color: transparent;
}

.todo-form__field:placeholder-shown ~ .todo-form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 40px;
}

.todo-form__label {
  position: absolute;
  top: 20px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--oc-gray-4);
}

.todo-form__field:focus {
  padding-bottom: 9px;
  border-bottom: 2px solid var(--oc-gray-6);
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--oc-red-6), var(--oc-red-3));
  border-image-slice: 1;
}

.todo-form__field:focus ~ .todo-form__label {
  position: absolute;
  top: 10px;
  display: block;
  transition: 0.2s;
  font-size: 0.7rem;
  color: var(--oc-red-4);
  font-weight: 400;
}

.delete__btn {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 12px;
  right: 14px;
  appearance: none;
  background-image: url('https://img.icons8.com/ios/48/000000/delete-sign.png');
  background-size: 24px 24px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  opacity: 0.2;
  border: none;
  font-size: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

@-webkit-keyframes slide-in-top {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.inline__field{
  width:90%;
  height:24px;
  font-size:1rem;
  border:none;
  outline:0;
  color:var(--oc-red-4);
  margin:0;
  background-color: transparent;
}

.todo__container {
  width: 33%;
}

.todo-list {
  padding: 8px;
  width: 90%;
  margin: 0 auto;
  background-color : 'white';
}

.todo-list--isDraggingOver {
  /* none */
}

.todo-item {
  user-select: 'none';
  padding: 16px;
  border-radius: 0;
  border: dotted 2px transparent;
  border-bottom: solid 1px var(--oc-gray-2);
  margin:0;
  position: relative;
  color: var(--oc-gray-7);
  background-color: transparent;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.todo-item--isDragging {
  border-radius: 30px;
  border: dotted 2px var(--oc-red-4);
  border-bottom: dotted 2px var(--oc-red-4);
  color: var(--oc-red-6);
  background-color: var(--oc-red-1);
  -webkit-animation:none;
  animation:none;
  
}

.doing__container {
  background-color: var(--oc-gray-0);
  width: 33%;
  padding:5%;
  height:90vh;
}

.doing-guide {
  width:100%;
  text-align:center;
  font-size:1.5rem;
  color:var(--oc-gray-3);
  margin: 30px auto;
}

.doing-guide--onStage {
  width:100%;
  text-align:center;
  font-size:0.8rem;
  color:var(--oc-red-3);
  font-weight: 500;
  margin-bottom:0px;
}

.doing__timer{
  text-align:center;
  font-size:2.4rem;
  font-weight:300;
  color: var(--oc-red-4);
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.doing__timeout{
  text-align:center;
  font-size:1.2rem;
  font-weight:300;
  color: var(--oc-red-4);
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.doing__btn {
  width:90%;
  height:60px;
  font-size:1.5rem;
  border-radius: 8px;
  outline: 0;
  border : 0;
  appearance: none;
  margin-top:0px;
}

.doing__startbtn {
  margin-top:38px;
  background-color:var(--oc-red-4);
  color:white;
}

.doing__stopbtn--timein {
  margin-top:38px;
  background-color:transparent;
  border: solid 2px var(--oc-gray-3);
  color:var(--oc-gray-4);
}

.doing__stopbtn--timeout {
  margin-top:10px;
  background-color:var(--oc-red-4);
  color:white;
}

.doing-list {
  padding: 8px;
  width: 100%;
  border-radius: 20px;
  background-color:var(--oc-gray-0);
  border: 2px dotted var(--oc-gray-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.doing-list--isDraggingOver {
  background-color: var(--oc-red-0);
  border: 2px dotted var(--oc-red-1);
}

.doing-list--isDraggingOver div {
  color: var(--oc-red-5);
}

.doing-list--isContain {
  background-color: transparent;
  border: none;
}

.doing-item {
  width:100%;
  user-select: 'none';
  padding: 16px;
  border-radius: 30px;
  margin: 0 0 8px 0;
  font-weight: 500;
  color:var(--oc-gray-7);
  background-color: var(--oc-red-0);
  border: dotted 2px var(--oc-red-4);
  position: relative;
}

.doing-item--isDragging {
  color:var(--oc-red-6);
  background-color: var(--oc-red-1);
  border: dotted 2px var(--oc-red-4);
}

.doing-item--timeOn {
  height:62px;
  text-align: center;
  color: var(--oc-gray-6);
}

.done__container {
  width: 33%;
}

.done__date {
  font-size:0.6rem;
  color: var(--oc-gray-6);
  text-align: center;
  background-color: var(--oc-gray-2);
  padding:2px 8px;
}

.done-item {
  user-select: 'none';
  padding: 16px;
  border-radius: 0;
  border: dotted 2px transparent;
  border-bottom: solid 1px var(--oc-gray-2);
  margin:0;
  position: relative;
  color: var(--oc-gray-7);
  background-color: transparent;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.done-item__header {
  display: flex;
}

.done-item__title{
  width:auto;
}

.done-item__totaltime{
  width:70px;
  text-align: right;
  font-size:0.8rem;
  color:var(--oc-red-5);
  margin-left:auto;
}

.done__timestamp {
  font-size: 0.7rem;
  text-align: right;
  color: var(--oc-gray-6);
}

/* Responsibel Web */

@media (max-width: 999px) { 
  #root {
    display: block;
    padding: 0;
    margin: 0;
  }
  .todo__container,
  .doing__container,
  .done__container {
    width:100%;
  }

  .doing__container {
    height:auto;
  }

 }
